# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=shwisdtt345345
DB_NAME=streaming_platform_db

# JWT Configuration
SECRET_KEY=your-super-secret-key-change-this-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# App Configuration
APP_NAME=Streaming_Platform
DEBUG=True
CORS_ORIGINS=["*"]
